git_init.sh
service/backup
service/logs
service/data
dotnet_command.txt
Migrations
backup
*.zip
# service/shell
service/web/5.0
service/web/6.0
service/web/7.0
node_modules
ClientApp/node_modules
service/web/framework/react
*.env
service/web/webAPI
service/web/framework
service/shell
service/conf/postgresql/initdb.d
bin
Debug
obj
.vs
.vscode
service/source
service/web/HoshiBook/HoshiBookWeb/Temp
service/web/HoshiBook/HoshiBookWeb/SQL
service/web/HoshiBook/HoshiBookWeb/Shell/scaffoldTable.sh
service/web/HoshiBook/HoshiBookWeb/Shell/readme.txt
service/web/HoshiBook/HoshiBookWeb/appsettings.json
service/web/zips
service/web/HoshiBook/HoshiBookWeb/wwwroot/images
service/web/HoshiBook/HoshiBook.Utility/Config.cs
service/web/index.html
.hintrc
service/web/temp
service/web/deploy
service/web/deploy/certs
*.crt
*.key
*.pfx
service/conf/nginx/conf.d/server_default.conf
service/web/HoshiBook/HoshiBookWeb/Shell/publishDotnetWebApp.sh
service/conf/nginx/conf.d/server_https.conf
*.log
service/conf/dotnet/6.0/web_2/Dockerfile
service/images
service/conf/redis
service/web/HoshiBook/staticfiles
*.webp
service/web/old
service/web/old/deploy
service/web/old/error
service/web/old/temp
service/web/HoshiBook/HoshiBookWeb/SQL
*.txt
service/web/deploy
demo
*.png
*.jpg
*.gif
Untitled-1.md
