@page
@model UserLockout
@{
    ViewData["Title"] = "User Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been manager locked out, please contact manager unlock user.</p>
</header>
