@model int


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Order Placed Successfully!
            <img src="~/images/lawn_leaf.jpg" width="65%" />
        </h1>
        <div class="col-12 text-center style="color:maroon">
            <br />
            Your order has been placed successfully <br/>
        </div>
    </div>
</div>