@model List<Category>
@{
    @* ViewData["Title"] = "Index"; *@
}

@* <partial name="../Shared/_Notification" /> *@

<div class="container p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="p-2">
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <form id="categoryListImportForm" method="post" asp-action="BulkCreate" enctype="multipart/form-data">
                <div class="text-top">
                    <input id="fileUpload" type="file" name="uploadFile" style="display: none" width="250">
                    <button id="sendFileBtn" type="button" class="btn btn-primary" style="display: none" onclick="handleSendFileClick()">
                        <i class="bi bi-send"></i> &nbsp; Send
                    </button>
                    <button id="revertFileBtn" type="button" class="btn btn-danger" style="display: none" onclick="handleRevertFileClick()">
                        <i class="bi bi-backspace-reverse"></i> &nbsp; Revert
                    </button>
                </div>
            </form>
        </div>
        <div>
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary" style="display: none">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
            <button id="bulkCreateBtn" class="btn btn-success" style="display: none" onclick="handleBulkCreateClick()">
                <i class="bi bi-filetype-xlsx"></i> &nbsp; Bulk Create Categories
            </button>
            <a id="exportDetailsBtn" asp-controller="Category" asp-action="ExportDetails" class="btn btn-info" style="display: none">
                <i class="bi bi-file-earmark-arrow-down"></i> &nbsp; Export Details
            </a>
        </div>
    </div>
    <br/><br/>
    <table id="tblData" class="table table-bordered table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/category/category.js">
    </script>
}
