@model List<Product>
@{
    // ViewData["Title"] = "Index";
}

<div id="contaier" class="container p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="p-2"></div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <form id="productListImportForm" method="post" asp-action="BulkCreate" enctype="multipart/form-data">
                <div class="text-top">
                    <input id="fileUpload" type="file" name="uploadFile" style="display: none" width="250">
                    <button id="sendFileBtn" type="button" class="btn btn-primary" style="display: none" onclick="handleSendFileClick()">
                        <i class="bi bi-send"></i> &nbsp; Send
                    </button>
                    <button id="revertFileBtn" type="button" class="btn btn-danger" style="display: none" onclick="handleRevertFileClick()">
                        <i class="bi bi-backspace-reverse"></i> &nbsp; Revert
                    </button>
                </div>
            </form>
            <form id="productImageImportForm" method="post" asp-action="UploadImages" enctype="multipart/form-data">
                <div class="text-top">
                    <input id="imageUpload" type="file" name="uploadProductImages" style="display: none" width="250" multiple>
                    <button id="sendImageBtn" type="button" class="btn btn-primary" style="display: none" onclick="handleSendImageClick()">
                        <i class="bi bi-send"></i> &nbsp; Send
                    </button>
                    <button id="revertImageBtn" type="button" class="btn btn-danger" style="display: none" onclick="handleRevertImageClick()">
                        <i class="bi bi-backspace-reverse"></i> &nbsp; Revert
                    </button>
                </div>
            </form>
        </div>
        <div>
            <a id="singleCreateBtn" asp-controller="Product" asp-action="Upsert" class="btn btn-primary" style="display: none">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
            </a>
            <button id="bulkCreateBtn" class="btn btn-success" style="display: none" onclick="handleBulkCreateClick()">
                <i class="bi bi-filetype-xlsx"></i> &nbsp; Bulk Create Products
            </button>
            <button id="uploadImageBtn" class="btn btn-warning" style="display: none" onclick="handleUploadImageClick()">
                <i class="bi bi-upload"></i> &nbsp; Upload Images
            </button>
            <a id="exportDetailsBtn" asp-controller="Product" asp-action="ExportDetails" class="btn btn-info" style="display: none">
                <i class="bi bi-file-earmark-arrow-down"></i> &nbsp; Export Details
            </a>
        </div>
    </div>
    <br/><br/>
    <table id="tblData" class="table table-bordered table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>SKU</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/product/product.js">
    </script>
}